* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  :root {
    --blue: #092c4c !important;
    --white: #fff;
  }
  body {
    color: var(--blue) !important;
  }

  .tr-hero{
    width: 100%;
    height: 555px;
    background: url(./images/tracking-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.7);
    background-position: center -150px ;
  }
  .tr-hero-title{
    position: relative;
    top: 230px;
    left: 125px;
    width: 50%;
  }
  .tr-hero-title h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    color: #fff
  }
  .tr-hero-title p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fff
  }
  .hr{
    position: relative;
    width: 1170px;
    height: 0px;
    /* left: 100px; */
    border: 0.1px solid #E0E0E0;
  }
  .tr-benefit{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
  }
  .tr-benefit__list p, .tr-benefit__text p{
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
  }
  .tr-benefit__list h3, .tr-benefit__text h3{
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding: 20px 0px;
  }

  /*  */
  /*  */
  .tr-action__title{
    margin: 100px 0px 30px;
  }
  .tr-action__title h3{
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    margin: 100px 0px 50px;
  }

  /* button style */
  .btn-active{
    width: 250px !important;
    height: 70px;
    width: 250px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }
  .btn-inactive{
    width: 250px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    background: #F2F2F2 !important;
    color: black !important;

  }

 form input{
    width: 772px;
    height: 80px;
    background: #F2F2F2;
    border-radius: 3px;
    border: none;
    padding: 0px 30px;
    font-size: 14px;
  }
  .track-btn{
    width: 175px;
    height: 62px;
    position: relative;
    left: 300px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  #help-action{
    position: relative;
    left: -340px;
  }
  #help-action a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #F2994A;
    text-decoration: none;
  }

  .display{
    display: block;
  }
  .no-display{
    display: none;
  }

  .proof-active{
    border-bottom: 5px solid #092C4C;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 8px;
    color: #092C4C;
  }
  .proof-inactive{
    color: #828282;
  }