*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
 
.top__section h5 {
 font-size: 18px;
 margin-bottom: 10px;
 font-weight: 600;
}

.top__section li{
 line-height: 3;
 font-size: 14px;
 font-weight: 400;
 list-style: none;
}

.top__section li a{
 text-decoration: none;
 color: #092C4C;
 transition: color .8s;
}

.top__section li a:hover,.top__section li a:focus{
 color: #F2994A;
}

.logo__con{
 margin-bottom: 4rem;
}

.logo__con>p{
 font-size: 14px;
}

hr{
 margin-bottom: 2rem;
 height: 1px;
 background: #092C4C;
}

.icons__container{
 padding: 1rem 0;
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-wrap: wrap;
 margin-bottom: 1rem;
}

.bottom__section{
 display: flex;
 flex-direction: column;
 color: #092C4C;
 font-size: 14px;
}

.copyright__con{
 text-align: center;
 max-width: 11rem!important;
 align-self: center;
 margin-bottom: 2.5rem!important;
 font-size: 14px;
}

.terms__con{
 align-self: center;
}

.terms__con>ul{
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 text-align: center;
 justify-content: center;
}

.terms__con>ul>li{
 list-style-type: none;
}

.terms__con li a{
 text-decoration: none;
 font-size: 14px;
 color: #F2994A; 
 transition: color .8s;
}

.terms__con li a:hover, .terms__con li a:focus{
 color: #092C4C;
}

.terms__con>small,.terms__con>small>span{
 cursor: pointer;
}
@media (min-width: 56rem) {
 .footer__wrapper{
 padding-bottom: 1rem;
}

 .top__section{
 color: #092C4C;
 padding: 7rem 0;
}

hr {
 display: none;
}

.bottom__section{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

.copyright__con{
 max-width: 100%!important;
 margin-bottom: 0rem!important;
 font-size: 16px;
}

.icons__container{
 margin-bottom: 0;
}

.top__section h5{
 font-size: 20px;
}

.logo__con>p{
 font-size: 16px;
}

.top__section li{
 font-size: 16px;
}

.terms__con{
 font-size: 16px;
}
}