*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --blue: #092C4C !important;
    --white: #fff
}
body{
    color: var(--blue) !important;
}

.terms--title{
    padding: 16px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.terms--title>h1{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--blue);
}
@media (width >=600px) {
    .terms--title>h1{
        font-size: 3rem;
    }
    .terms--title h6:last-child, .terms--title h6:first-child{
        font-size: 16px !important;
    }
}
.terms--title h6:last-child{
    color: inherit;
    font-size: 13px;
}
.terms--title h6:first-child {
    color: #eb463b;
    font-size: 13px;
}
.terms--list{
    list-style: none;
}
.terms--content{
    margin-top: 150px;
}
.signup--box{
    width: 35%;
    height:fit-content;
    /* border: solid 1px black !important; */
    border-radius: 7px;
    box-shadow: var(--blue) 0px 0px 5px 0px, var(--blue) 0px 0px 1px 0px !important;
}
.signup--box p{
    font-size: 20px;
    font-weight: 450;
    line-height: 25px;
    color: var(--blue);
}
.signup--btn button{
    width: 100%;
    border-radius: 3px !important;
    background-color: var(--blue);
}
.bttn>a, .bttn>a:hover{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: var(--white);
}